<div class="row">
	<div class="span12">
		<header class="gen_title"> 	
			<h2 class="center-align">accommodations</h2>
		</header>
	</div>
</div>

<div class="row">
	<div class="span4 offset2">
		<h3>
    	<a href="http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-austin-downtown-AUSDTHX/index.html">Hampton Inn & Suites</a>
		</h3>
		<i>Downtown | (512) 472-1500</i><br />
		Farre-Shaffer rate: 
		$159 p/night for king/double or
		$179 p/night for king studio suite
		<br/><br/>
	</div>
	<div class="span5 offset1">
		<h3>
    	<a href="http://www.marriott.com/hotels/travel/ausrd-residence-inn-austin-downtown-convention-center/">Marriot Residence Inn & Suites</a>
		</h3>
		<i>Downtown/Convention Center | (512) 236-8008</i><br />
		Farre-Shaffer rate: $179 p/night for king/double
	</div>
</div>

<div class="row">
	<div class="span12">&nbsp;</div>
</div>

<div class="row">
	<div class="span4 offset2">
		<h3>	
			<a href="http://embassysuites3.hilton.com/en/hotels/texas/embassy-suites-austin-downtown-town-lake-AUSLKES/index.html">Embassy Suites		</a>
		</h3>
		<i>Downtown/Town Lake | (800) 362-2779</i><br />
		Farre-Shaffer rate: $179 p/night for king/double<br />
		(reservation cut-off date of March 15th)
		<br/><br/>
	</div>
	<div class="span5 offset1">
		<h3>
			<a href="http://www.driskillhotel.com">The Driskill</a>
		</h3>
		<i>Downtown | (512) 474-2214</i><br />
		Farre-Shaffer rate: none 
		<br/><br/>
	</div>
</div>

<div class="row">
	<div class="span12">&nbsp;</div>
</div>

<div class="row">
	<div class="span12">
		<header class="gen_title"> 	
			<h4 class="center-align">The discounted rates above are only availble for April 4th 2013 - April 6th 2013</h4>
		</header>
	</div>
</div>

<script type='text/javascript'>
	$(document).ready(function () {
		$('#accommodations').addClass('active');	
		$('#gift_cash').bind('click', function() {$('#submit_to_paypal').click()});
	});
</script>

