<link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>

<header class="jumbotron masthead">
	<h1>brooke & doug's wedding</h1>
	<p>Friday April 5th, 2013 - Austin, TX</p>
</header>

<div class="row">
	<div class="span12">
		<div class="gen_title">
			<div class="center-align">
				<%= image_tag "http://i.imgur.com/Fg9fM.jpg?1", :size => "715x715" %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready( function () {
		$('li').removeClass('active');
	});
</script>
