<header class="jumbotron masthead">
	<h1>brooke & doug's wedding</h1>
	<p>Saturday March 9th, 2013 - Austin, TX</p>
</header>

<div class="row show-grid">
</div>

<script type="text/javascript">
	$(document).ready( function () {
		$('li').removeClass('active');
	});
</script>
