<div class="row">
	<div class="span12">
		<header class="gen_title"> 	
			<h2 class="center-align">itinerary</h2>
		</header>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3>Thursday April 4th, 2013</h3><br/>
		<h4>5:30pm - Rehearsal Dinner</h4>
		<a href="http://parkside-austin.com"><i>Parkside</i></a>
	</div>
	<div class="span4">
		<h3>Friday April 5th, 2013</h3><br/>
		<h4>06:00pm - Wedding Ceremony</h4>
		<h4>07:00pm - Happy Hour</h4>
		<h4>08:00pm - Reception</h4>
		<h4>12:00am - Goodnight!</h4>
		<a href="<%= venue_path() %>"><i>Lady Bird Johnson Wildflower Center</i></a>
	</div>
	<div class="span4">
		<h3>Saturday April 6th, 2013</h3><br/>
		<h4>01:00pm - Party in the Park</h4>
		<a href="http://www.austintexas.gov/department/zilker-metropolitan-park"><i>Zilker Park</i></a>
	</div>
</div>


<script type='text/javascript'>
	$(document).ready(function () {
		$('#itinerary').addClass('active');	
		$('#gift_cash').bind('click', function() {$('#submit_to_paypal').click()});
	});
</script>

