<div class="row">
	<div class="span12">
		<header class="gen_title"> 	
			<h2 class="center-align">verify contact information</h2>
			<p class="notice"><%= notice %></p>
		</header>
	</div>
</div>

<%= render 'invitations/form' %>

<script type='text/javascript'>
	$(document).ready(function () {
		$('#rsvp').addClass('active');	
	});
</script>
