Dear <%= @invitation.first_names %> <%= @invitation.last_name %>,
<p>Save the date!
<br/>
<br/>
Douglas Farre and Brooke Shaffer are getting married on April 5th, 2013 in Austin, TX.  You are receiving this email because at least one person in your family has been added to the guest list.
<br/><br/>
Visit <a href="http://ifoundyou.in">ifoundyou.in</a> for details on accommodations, times, and locations.
Email debfarre@gmail.com or dougfarre@gmail.com for any pressing questions.
<br/><br/>
If you already know you will be attending, you can RSVP by entering the following code: <b><%= @invitation.invite_code %></b> at <a href="http://ifoundyou.in/users/sign_up">ifoundyou.in/rsvp</a>.  You can change your RSVP status at any time using this code.
<br/><br/>
Thanks,
</p>

