/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/*darjeeling limited*/

/*darjeeling limited*/

h1 
{
}

.navbar-inner {
	#background-color: #CCA931 !important;
}

.kickass {
	/*background-image: url(https://twitter.com/images/themes/theme12/bg.gif);*/
	/*-webkit-background-size: cover !important;
  -moz-background-size: cover !important;   
  -o-background-size: cover !important;
  background-size: cover !important;*/
  background-size: 20% auto;
	background-repeat: no-repeat;
	background-color: white;
}

.red_letters {
	color: red;
}
.registry {
	text-decoration: underline !important;
	font-size: 16px;
	font-weight: bold;
	color: blue !important;
}
.pagination a {
	float: none !important;
}
.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
	text-decoration:underline;
}
.asc { 
  background-image: url(/images/up_arrow.gif); 
	font-color: blue !important;
}

.desc { 
  background-image: url(/images/down_arrow.gif); 
	font-color: red !important;
}

.show textarea {
	height: 75px !important;
	width: 410px !important;
}

#list fieldset {
	margin-bottom: 0px !important;
}
#list label {
	margin: 0px !important;
	margin-top: 3px !important;
	padding: 0px !important;
}
#list table {
	margin-top: -3px !important;
}
#list input[type="number"] {
	width: 30px !important;
	margin: 0px !important;
}
#list input[type="text"] {
	width: 140px !important;
	margin: 0px !important;
}
#list .span4, #list .edit_invitation {
	margin-bottom: 0px !important;
}
#error_explanation h2 {
	background-color: transparent !important;
	color: red !important;
	font-size: 12px;
	font-weight: bold;
	margin: -7px -7px 0;
	padding: 5px 5px 5px 15px;
	/*text-align:  rowcenter !important;*/
}
#error_explanation {
	background-color: transparent !important;
 	border: none !important;
  margin-bottom: 20px;
 	padding: 7px 7px 0;
  width: 50% !important;
	margin: 0 35% !important;
}
.field_with_errors {
	background-color: transparent !important;
  display: block !important;
  padding: 0px !important;
}
.notice {
	font-weight: bold;
	font-size: 14px;
	font-color: red;
	color: red;
}
.message {
	font-weight: bold;
	font-size: 14px;
	font-color: navy;
	color: red;
}
.spacer {
	display: block;
	width: 100%;
	height: 10px;
}
input[type="submit"] {
	font-size: 14px;
	height: 30px;
	border-radius: 10px;
	margin-top: 8px;
}
#list input[type="submit"] {
	margin-top: 0px !important;	
	margin-bottom: 0px !important;	
}
.start_style {
	border-radius: 10px;
	margin-bottom: 2px;
	font-style: italic;
	color: grey; 
	height: 20px;
	font-size: 16px;
	text-align: center;
}
.end_style {
	border-radius: 10px;
	margin-bottom: 2px;
	font-style: normal;
	color: black;
	height: 20px;
	font-size: 16px;
	text-align: center;
}
.sign_in_home {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
	width: 100%;
	/*width: px;*/
	min-width: 380px;
	height: 75px;
	display: inline-block;
	background-color: black;
	vertical-align: middle;	
}

.center {
	text-align: center;
	margin: 20px auto 20px auto;
}
.right {
	float: right;
}
.left {
	float: left;
}
.center2 {
	text-align: center;
}
.gen_title {
	text-align: center;
	font-size: 30px;
  line-height: 36px;
  margin-left: 5%;
	margin-right: 5%;
	font-weight: 300;
  margin-bottom: 18px;
	#font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.navbar  
{
	font-family: 'Petit Formal Script', cursive !important;
}

.navbar a
{
	color: yellow !important;
}

body 
{ 
	#font-family: Futura, Verdana, Sans-Serif !important;
}

/*.nav_center { 
	padding-top: 1em !important; 
	font-size: 18px !important;
}
.nav_title 	{ 
	padding-left: 5px;
	position: absolute;
	top: 40%;
}
.nav_bottom {
	padding-top: .1em !important;
	padding-bottom: 0px !important;
}*/

.masthead h1 {
	margin-bottom: 18px;
}
.masthead h1, .masthead p {
	text-align: center;
}
.masthead p {
	font-family: 'Petit Formal Script', cursive !important;
  font-size: 22px;
  line-height: 36px;
  margin-left: 5%;
	margin-right: 5%;
	font-weight: 300;
  margin-bottom: 18px;
	#font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.jumbotron h1 {
	font-family: 'Petit Formal Script', cursive !important;
	font-size: 41px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 9px;
}

